/*Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');
/* asterisk wildcard selector is being used to override general browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /* Generic project syle */
    color: #3a3a3a
}

/* header styles */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

h1 {
    font-family: 'oswald', sans-serif;
}
/* main content styles */
main {
    background-color: lightblue;
    /* Make main element ttake up any surplus space so the header is pushed down */ 
    flex: 1 0 auto;
}
/* footer styles */
footer {
    background-color: orange;
}
