/* asterisk wildcard selector is being used to override general browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project syle */
    color: #3a3a3a
}

/* header styles */
header {
    background-color: lightcoral;
}
/* main content styles */
main {
    background-color: lightblue;
    /* Make main element ttake up any surplus space so the header is pushed down */
    flex: 1 0 auto;
}
/* footer styles */
footer {
    background-color: orange;
}