/* asterisk wildcard selector is being used to override general browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    background-color: lightcoral;
}
/* main content styles */
main {
    background-color: lightblue;
}
/* footer styles */
footer {
    background-color: orange;
}